python-dotenv==1.0.1
pytest==8.3.3
psycopg2-binary==2.9.9
SQLAlchemy==2.0.36
alembic==1.14.0
pgvector==0.2.5
sentence-transformers==2.7.0
numpy==1.26.4
spacy==3.7.2
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz
datasets==2.19.1
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9